/node_modules
guardian-open-platform-key.json
*.epub
.DS_Store
.guardian-epub.env
*.tgz
/.vscode
src/guardian-cover.jpg
get-guardian.exe
sea-prep.blob
/dist
/dist-electron
/renderer/dist
/renderer/.vite
release

get-guardian-linux
*.exe
*.zip
get-guardian-mac
